body {
    font-family: "calibri", sans-serif;
    font-style: normal;
}

.feedback {
     font-style: italic;
     color: red;
     font-size: 0.75em;
     text-align: left;
 }

.title_row {
    font-size: 1.25em;
    font-weight: bold;
}

#nric_field {
    text-transform: uppercase;
}