body {
    font-family: "calibri", sans-serif;
    font-style: normal;
}

#user_registration_form {
    float:left;
}

.feedback {
    font-style: italic;
    color: red;
    font-size: 0.75em;
    float: right;
    text-align: left;
}

#nric_field {
    text-transform: uppercase;
}