body {
    font-family: "calibri", sans-serif;
    font-style: normal;
}


a:link {
    color: #60bdff;
    font-size: 0.75em;
    text-align: right;

}

.feedback {
    font-style: italic;
    color: red;
    font-size: 0.75em;
    text-align: left;
}

.title_row {
    font-size: 1.25em;
    font-weight: bold;
}

#nric_field {
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}



th {text-align: left;}